.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  border-left-color: #fff;
  animation: spin 1s ease infinite;
  margin-bottom: 20px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
