.continentHeader {
  width: 100%;
  display: inline-grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 200px;
}

.mapImg {
  width: 200px;
  max-height: 200px;
  align-self: center;
  justify-self: end;
}

.continentHeader div {
  color: white;
  font-size: 2.5rem;
  text-align: left;
  align-self: center;
  font-weight: bold;
  justify-self: start;
}

.continentHeader span {
  font-size: 1.8rem;
  font-weight: 200;
}

.title {
  color: white;
  padding: 5px 20px;
  font-size: 1.5rem;
  text-align: left;
  background-color: var(--dark-pink);
}

.contriesDisplay {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}
